<%= form_for(@simpletweet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new Simple Tweet..." %>
  </div>
  <%= f.submit "Tweet", class: "btn btn-primary" %>
<% end %>